<footer>
<div class="flexi flexi-2">
<div class="text-center">
<h4>Disclaimer</h4>
<p >All data downloaded for this project was extracted using the <a target="_blank" href="https://developer.twitter.com/en/products/twitter-api/academic-research">Twitter API for Academic Research</a>. In accordance with the terms of the Twitter API, we only display publically accessible information and have not matched any user data to user profiles outside of Twitter.
</p>
<p>More about how the data is being used in the visualisation <a href="/learn#disclaimer">here</a>.</p>
</div>
<div class="text-center">
<h4>Contact us</h4>
<p>If you have any questions related to this project please email us at</p>
<a class="small text-center">info@cop26buzz.live</a>
<p>and we will make every effort to get back to you.</p>
</div>
</footer>
