<footer>
<h4>Disclaimer</h4>

<p class="small">All data used for this project was extracted using the <a href="https://developer.twitter.com/en/products/twitter-api/academic-research">Twitter API for Academic Research</a>. In accordance with the terms of the Twitter API, we only display publically accessible information and have not matched any user data to user profiles outside of Twitter.
<p class="small">Algorithms used to rank user importance, to group users in communities, and to split users based on ideology, are all automated using standard techniques from network science - small changes in parameter algorithms can change results. The values and groupings shown should be understood as imprecise measures and not exact values. Please also note that user importance and groupings are determined based on tweets related to COP26 only, and not on any other topic on twitter elsewhere.
<p class="small">For privacy reasons, we do not label the communities, choosing to display community grouping in an unaltered manner.
<p class="small">This website does not collect any browser data.
<p class="small">Please remember that Twitter is not an unbiased social media platform, and that the data extracted is often not a fair representation of opinions and interactions in the wider population.

<h4>Contact us</h4>
<p class="small">If you have any questions related to this project please email us at XXX@XXX.com and we will make every effort to get back to you.

</footer>
