<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' type='text/css' href='/assets/src/styles.css'>

{% if page.head_js %}
    {% for js in page.head_js %}
    <script src="{{ js }}"></script>
    {% endfor %}
{% endif %}

  </head>
  <body>
    <nav class="site-nav">
	  <div class="main-menu">
		<a class="page-link" href="/">Home</a>
		<a class="page-link" href="/visualisations">Visualisations</a>
		<a class="page-link" href="/learn">Learn more</a>
		<a class="page-link" href="/about">About us</a>
	  </div>
	</nav>

    <main>
    {{ content }}
    </main>

{% if page.body_js %}
    {% for js in page.body_js %}
    <script src="{{ js }}"></script>
    {% endfor %}
{% endif %}

  </body>
</html>

