/* Layout and typography */
body {
    font-family: monospace;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1.2em;
}
main {
    text-align: center;
}

h1 {
    margin-top: 30px;
    font-size: 20px;
    text-transform: uppercase;
}
a {
    font-family: monospace;
    color: #111;
    text-decoration: underline;
    cursor: pointer;
}

.small {
    font-size: 12px;
}

.hide {
    display: none !important;
}

/* Navigation */
.site-nav {
    text-align: right;
}
.site-nav .page-link:not(:last-child) {
    margin-right: 20px;
}
.main-menu a {
    font-weight: 400;
    line-height: 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}


/* Figures and images */
img {
    margin: 0 auto;
    width: 100%;
    display: block;
}
.fig {
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
}
.fig p {
    font-size: 1em;
    color: #666;
    font-style: italic;
}

/* Dynamic responsive layouts */
.flexi {
    display: flex;
    align-items: center;
}
.flexi div img {
    margin: 20px auto;
    width: 90%;
}

@media screen and (min-width: 600px) {
    .flexi {
        flex-direction: row;
    }
    .flexi-3 div {
        width: 33%;
    }
    .flexi-5 div {
        width: 20%;
    }
}
@media screen and (max-width: 599px) {
    .flexi {
        flex-direction: column;
    }
}

/* dashboard & network */
#map, #cloud {
    display: block;
    width: calc(max(1200, 100vw));
    height: calc(max(1200, 100vw) / 2);
    margin: 0 auto;
}

div.tooltip {
  position: absolute;
  padding: 7px;
  font-size: 0.8em;
  pointer-events: none;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
}

#graph {
    width: calc(100vw - 100px);
    height: calc(100vh - 140px);
}

#panel {
    z-index: 1000;
    position: absolute;
    top: 130px;
    right: 0px;
    width: 30vw;
    height: calc(100vh - 155px);
    border: 1px solid rgba(0,0,0,0.2);
    background: rgba(255,255,255,0.8);
    display: block;
    padding: 10px;
}

#panel #exit {
    position: relative;
    top: 10px;
    float: right;
    right: 14px;
    content: 'x';
    cursor: pointer;
    text-decoration: none;
}

#panel_title {
    margin-top: 40px;
}

#panel_content {
    font-family: sans-serif;
    font-size: 12px;
}

/*#panel_content iframe {
    max-height: calc(100vh - 400px);
    overflow-y: scroll;
}*/
